body{
    background-color: lemonchiffon;
}

h1{
    color:lightpink;
    font-size: 4rem;
}

body #title{
    color: darkmagenta;
}

body .para{
    color: darkturquoise;
}

.form, 
.greetings{
    display: none;
}

.showing{
    display: block;
}