<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layout2</title>
    <link href="../css/reset.css" type="text/css" rel="stylesheet">
    <link href="../css/layout2.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div id='wrapper'>
        <header>HEADER</header>
        <nav>NAV</nav>
        <aside id="side_left">SIDE_LEFT</aside>
        <section>CONTENTS</section>
        <aside id="side_right">SIDE_RIGHT</aside>
        <footer>FOOTER</footer>
    </div>
</body>
</html>