<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layout4</title>
    <link href="../css/reset.css" type="text/css" rel="stylesheet">
    <link href="../css/layout4.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div id="wraper">
        <header>HEADER</header>
        <nav>NAV</nav>
        <aside>SIDE</aside>
        <section id="contents1">CONTENTS1</section>
        <section id="contents2">CONTENTS2</section>
        <footer>FOOTER</footer>
    </div>
</body>
</html>