<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layout5</title>
    <link href="../css/reset.css" type="text/css" rel="stylesheet">
    <link href="../css/layout5.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div id="wraper">
        <header class="header-container">HEADER</header>
        <nav class="banner-container">BANNER</nav>
        <section class="section-container">CONTENTS</section>
        <footer class="footer-container">FOOTER</footer>
    </div>
</body>
</html>