<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layout 7</title>
    <link href="../css/reset.css" type="text/css" rel="stylesheet">
    <link href="../css/layout7.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div id="wrap">
        <div id="header">
            <div class="container">
                header
            </div>
        </div>
        <div id="banner">
            <div class="container">
                banner
            </div>
        </div>
        <div id="contents">
            <div class="container">
                contents
            </div>
        </div>
        <div id="footer">
            <div class="container">
                footer
            </div>
        </div>
    </div>
</body>
</html>