
#s1 li:nth-child(1){
    background-color: red;
    /* display: inline-flex; */
}
#s1 li:nth-child(2){
    background-color: green;
    /* display: inline-flex; */
    position: absolute;
    right: 0px;
    top: 10px;
}
#s1 li:nth-child(3){
    background-color: blue;
    /* display: inline-flex; */
}